package ###BASE_PACKAGE###.model;

import com.zanghongtu.database.repository.model.BaseModelDO;
import lombok.Data;

/**
 * @author Auto Generated
 */
@Data
public class ###CLASS_NAME###DO extends BaseModelDO {
###COLUMNS###
}