package ###BASE_PACKAGE###.model.po;

import com.caiguantianxia.database.repository.model.BaseModelPO;
import lombok.Data;
import lombok.EqualsAndHashCode;

import javax.persistence.*;

import java.util.Date;
import java.lang.Boolean;
import java.lang.String;
import java.lang.Long;
import java.lang.Integer;

/**
 * @author Auto Generated
 */
@EqualsAndHashCode(callSuper = true)
@Data
@Entity
@Table(name = "###TABLE_NAME###")
public class ###CLASS_NAME###PO extends BaseModelPO {
###COLUMNS###
}