package ###BASE_PACKAGE###.repository;

import com.caiguantianxia.database.repository.model.BaseInLikeRepository;
import ###BASE_PACKAGE###.model.po.###CLASS_NAME###PO;

/**
 * @author : Auto Generated
 */
public interface ###CLASS_NAME###Repository extends BaseInLikeRepository<###CLASS_NAME###PO, Long> {
}
