package ###BASE_PACKAGE###.repository;

import com.zanghongtu.database.repository.BaseRepository;
import ###BASE_PACKAGE###.model.###CLASS_NAME###;

/**
 * @author : Auto Generated
 */
public interface ###CLASS_NAME###Repository extends BaseRepository<###CLASS_NAME###, Long> {
}
